body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    height: 98dvh;
    max-height: 98dvh;
}

h1 {
    color: rgb(86, 189, 147);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 0;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playground {
    margin-top: 2dvh;
    background-color: rgb(30, 30, 30);
    border-radius: 4dvh;
    flex-grow: 100;
    min-height: 0;
    width: 96%;
    position: relative;
}

.textbox {
    color: white;
    box-sizing: border-box;
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(45, 45, 45);
    position: absolute;
    bottom: 0dvh;
    border-radius: 4dvh;
    height: 8dvh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0;
}

.textbox .field {
    box-sizing: border-box;
    border: none;
    color: white;
    background-color: transparent;
    font-size: large;
    justify-self: start;
    padding-left: 4dvh;
    border-radius: 4dvh;
    width: 95%;
    height: 100%;
    position: absolute;
}

.textbox .field:focus {
    outline: none;
}

.textbox:focus-within {
    border: 1px solid rgb(200, 200, 200);
}

.textbox button {
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    position: absolute;
    right: 1.5em;
    border: none;
}

.msgbox {
    display: flex;
    flex-direction: column;
    padding: 2.5dvh;
    overflow: auto;
    max-height: 85%;
    scrollbar-width: thin;
    scrollbar-color: rgb(110, 110, 110) transparent;
}

.message {
    margin: 0.5dvh;
    background-color: rgb(20, 20, 20);
    border-radius: 2dvh;
    width: fit-content;
    min-width: 10%;
    max-width: 80%;
    padding: 2dvh 2dvh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    word-break: break-all;
    overflow-wrap: break-word;
}

.mymessage {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
}

.message .text {
    flex-grow: 100;
}

.message .avatar {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: white;
    flex: 0 0 1em;
    margin-right: 1em;
}

.mymessage .avatar {
    margin-right: 0em;
    margin-left: 1em;
}

@media screen and (max-width: 600px) {
    .playground {
        width: 91%;
    }
    .message {
        min-width: 25%;
    }
    h3 {
        max-width: 80%;
    }
}